<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Prettier Chrome extension for Glitch</title>
    <meta name="description" content="Format your Glitch code with Prettier">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Prettier Chrome extension for Glitch
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <ol>
        <li><a href="extension.crx" download>Download this extension</a> </li>
        <li>Open up the chrome extensions page at chrome://extensions</li>
        <li>Drag the .crx file from your chrome downloads bar onto the extensions page</li>
      </ol>
      
      <p>
        When you click on the extension button from a Glitch Javascript file, it'll format the code for you.
      </p>
    </main>
    
    <footer>
      see the code on <a href="https://glitch.com/edit/#!/glitch-prettier-extension">glitch</a>
    </footer>
  </body>
</html>
